// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
   color: $black;
  margin-top: 0;
  margin-bottom: 1rem;
  // font-weight: 700;
  a{
     text-decoration: underline;
     &:hover{
        text-decoration: none;
     }
 }
}

h1 { font-size: 5.4rem; line-height: 1; letter-spacing: 4.4px;}
h2 { font-size: 4.2rem; line-height: 1; letter-spacing: 4px;}
h3 { font-size: 3.6rem; line-height: normal; letter-spacing: 3.8px;}
h4 { font-size: 3.0rem; line-height: 1.05; letter-spacing: 3.2px; color: $fountainblue;}
h5 { font-size: 2.4rem; line-height: normal; letter-spacing: 2.4px; color: $copper;}
h6 { font-size: 1.5rem; line-height: normal; letter-spacing: 1.5px; color: $fountainblue;}


@media($bp-smaller-than-tablet) {
  h1 { font-size: 4.0rem; }
  h2 { font-size: 3.6rem; }
  h3 { font-size: 3.0rem; }
  h4 { font-size: 2.4rem; }
  h5 { font-size: 1.8rem; }
  h6 { font-size: 1.5rem; }
}

p, ul, ol {
   // font-weight: 400;
  font-size: 1.5rem;
  // line-height: 1.428;
  margin-top: 0;
  margin-bottom: 2rem;
  color: $black;
}

ul{
   li{
      list-style-type: disc;
   }
}

ol{
   li{
      list-style-type: decimal;
   }
}

li{
   h1,h2,h3,h4,h5,h6{
      display: inline;
   }
}

li{
   // font-family: $lato;
   font-weight: 400;
   color: $black;
   // a{
   //    color: $white;
   // }
}

body{
}

//Old fonts
// @if variable-exists(font-url--google) {
//   @import url($font-url--google);
// }
